* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-bottom: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --co-bg: #ffffff;
    --co-grey-light: #eaeaea;
    --co-grey: #cccccc;
    --co-dark: #333333;
    --pa-around: 24px;
    --pa-small: 8px;
    --he-controls: 32px;
}

header {
    background: cornflowerblue;
    padding: 12px 24px;
    position: sticky;
    top: 0;
    color: var(--co-bg);
    span {
        font-weight: bold;
    }
}

#form {
    background: var(--co-grey);
    padding: var(--pa-small);
    position: fixed;
    inset: auto 0 0 0;
    display: flex;
    gap: var(--pa-small);
    backdrop-filter: blur(10px);
    #input {
        border: none;
        padding: 0 1rem;
        flex-grow: 1;
        border-radius: 2rem;
        height: var(--he-controls);
        transition: background 0.2s ease;
        &:focus {
            outline: none;
            background: var(--co-grey-light);
        }
    }
    button {
        background: #333;
        border: none;
        padding: 0 1rem;
        border-radius: 3px;
        outline: none;
        color: #fff;
        height: var(--he-controls);
    }
}

#messages {
    list-style-type: none;
    li {
        padding: 8px var(--pa-around);
        display: grid;
        grid-template-columns: 75px minmax(auto, 1fr);
        gap: 10px;
        &:nth-child(odd) {
            background: var(--co-grey-light);
        }
        span.name {
            font-style: italic;
            font-size: 50%;
            display: inline-flex;
            align-items: center;
        }
    }
}
